<!doctype html>
<header>
<title> </title>
<link rel="stylesheet" href="footer.css"
type="text/css" >
</header>


<html>
<body>
	<!-- MAIN_WRAPPER STARTS HERE -->
<div id="footer_main_wrapper" class="clearfi x">
	<!-- HEADER STARTS HERE -->
<div id="footer_header">
 <div id="footer_header_inner">
	 <ul class="menu-footer">
                        <li><a href="/trang/cau-hoi-thuong-gap.html">Hỏi và đáp</a></li>
                        <li><a href="/trang/dieu-khoan-1.html">Điều khoản sử dụng</a></li>
                        
                        <li><a href="/trang/chinh-sach-bao-mat-4.html">Bảo mật thông tin khách hàng</a></li>
                        <li><a href="/trang/co-che-giai-quyet-tranh-chap-khieu-nai-11.html">Giải quyết khiếu nại, tranh chấp</a></li>
                        <li><a href="/trang/quy-che-hoat-dong-10.html">Quy chế hoạt động</a></li>
     </ul>   
 </div>
</div>
	<!-- HEADER ENDS HERE -->
	<!-- NAV STARTS HERE --> 
<!--------------------------------->
<div id="threecolwrap">
<!---------------------->
 <div id="twocolwrap">
<div id="footer_nav">
<div id="footer_nav_inner">
   <div id="footer_nav_inner_image">
	 <img src ="https://moki.vn/moki/themes/img/logo_big.png" alt ="Moki.vn - Ứng dụng mua bán trên di động | moki.vn" class = "image" >
   </div>
   <div id = "footer_nav_inner_content">
        <span>CÔNG TY CỔ PHẦN MOKI</span>
	    <span>Giấy CNĐKDN: 0107370701 - Ngày cấp: 24/03/2016.</span>
		<span>Cơ quan cấp: Phòng Đăng ký kinh doanh Sở Kế hoạch và Đầu tư Thành phố Hà Nội.</span>
   </div>
</div>
</div>
	<!-- NAV ENDS HERE -->
	<!-- CONTENT STARTS HERE -->
<div id="footer_content">
 <div id="footer_content_inner">
	<h2 id="footer_content_inner_contact">Liên Hệ</h2>

		<div class="footer_contact">
			<span class="address"> <b>TRỤ SỞ CHÍNH: </b> </span> 
			<span>6/50, đường Lĩnh Nam, Hoàng Mai, Hà Nội</span><br>
			<span class="address"><b>ĐỊA CHỈ GIAO DỊCH:</b></span> 
			<span>Tầng 10, Tòa nhà ZenTower, 12 Khuất Duy Tiến, Thanh Xuân Trung, Thanh Xuân, Hà Nội</span>
		</div>

		<div class="footer_contact">
			<span> <b>Hotline:</b> <a href="tel:1900636779">1900.636.779</a></span>	
		</div>
		
		<div class="footer_contact">
			<span><b>Phone: </b><a href="tel:02462919536">024.6291.9536</a></span>
		</div>
		
		
		<div class="footer_contact">
		<span><b> Time </b> </span>
		 <span>Thứ 2 - Thứ 6:8h00 - 12h00, 13h00 - 17h00</span>
		  <span>Thứ 7:8h00 - 12h00</span>
		 </div>
		 
		<div class="footer_contact">
		<span><b> Email:</b> </span>
			<span><a href="mailto:hotro@moki.vn">hotro@moki.vn</a></span>
		</div>
		
		<div class="footer_contact">
		<span><b> Website: </b> </span>
			<span><a href="https://moki.vn">www.moki.vn</a></span>
		</div>
		
		<div class="rate">
			<input type="range" value="4.5" step="0.5" id="backing4" style="display: none;">
			<div class="rateit bigstars" data-rateit-backingfld="#backing4"
			data-rateit-resetable="false" data-rateit-ispreset="true" data-rateit-min="0"
			data-rateit-max="5" data-id="" data-type="home">
		</div>
 </div>
</div>
</div>
	<!-- CONTENT ENDS HERE -->
<!---------------------->
</div>
	<!-- PROMO STARTS HERE -->
<div id="footer_promo">
  <h2 id="danh mục liên kết">Các danh mục liên kết</h2>
  <div id="footer_promo_inner">
   <div id="footer_promo_inner_refer">
	<ul>
<li> <a class="footer_promo_inner_navlink" href="#Introduction">  Miễn Phí </a></li>
<li> <a class="footer_promo_inner_navlink" href="#What-you-should-already-know"> Bé ăn <i class="fa fa-angle-double-down"></i> </a></li>
<li> <a class="footer_promo_inner_navlink" href="#Hello-world"> Bé mặc <i class="fa fa-angle-double-down"></i> </a></li>
<li> <a class="footer_promo_inner_navlink" href="#Variables"> Bé ngủ <i class="fa fa-angle-double-down"></i> </a></li>
<li> <a class="footer_promo_inner_navlink" href="#Declaring variables"> Bé tắm <i class="fa fa-angle-double-down"></i> </a></li>
<li> <a class="footer_promo_inner_navlink" href="#Variable scope"> Bé vệ sinh <i class="fa fa-angle-double-down"></i> </a></li>
<li> <a class="footer_promo_inner_navlink" href="#Global variables"> Bé khỏe-an toàn <i class="fa fa-angle-double-down"></i> </a></li>
<li> <a class="footer_promo_inner_navlink" href="#Constants"> Bé đi ra ngoài <i class="fa fa-angle-double-down"></i> </a></li>
<li> <a class="footer_promo_inner_navlink" href="#Data types"> Bé chơi mà học  <i class="fa fa-angle-double-down"></i></a></li>
<li> <a class="footer_promo_inner_navlink" href="#if...else statement"> Bé học tập  <i class="fa fa-angle-double-down"></i> </a></li>
<li> <a class="footer_promo_inner_navlink" href="#while statement"> Dành cho Mẹ <i class="fa fa-angle-double-down"></i> </a></li>
<li> <a class="footer_promo_inner_navlink" href="#Function declarations">Đồ dùng gia đình <i class="fa fa-angle-double-down"></i> </a></li>
<li> <a class="footer_promo_inner_navlink" href="#Reference"> Sản phẩm khác </a></li>
    </ul>
 </div>
 </div>
 </div>
<!--------------------------------->
</div>
	<!-- PROMO ENDS HERE -->
	<!-- FOOTER STARTS HERE -->
<div id="footer">
 <div id="footer_inner">
	               <h3><b>Top tìm kiếm </b></h3>
                                                                                    <a href="/Ghe-an-bot-cho-be-72.html">
                        Ghế ăn bột cho bé                    </a>
                    <span> | </span>
                                        <a href="/Binh-sua-va-phu-kien-73.html">
                        Bình sữa và phụ kiện                    </a>
                    <span> | </span>
                                        <a href="/Sua-bot-cac-loai-74.html">
                        Sữa bột các loại                    </a>
                    <span> | </span>
                                        <a href="/Bot-Chao-Banh-an-dam-75.html">
                        Bột, Cháo, Bánh ăn dặm                    </a>
                    <span> | </span>
                                        <a href="/Do-dung-phuc-vu-an-uong-76.html">
                        Đồ dùng phục vụ ăn uống                    </a>
                    <span> | </span>
                                        <a href="/Thuc-pham-dong-hop-cho-be-77.html">
                        Thực phẩm đóng hộp cho bé                    </a>
                    <span> | </span>
                                                                        <a href="/Giay-dep-cho-be-40.html">
                        Giày dép cho bé                    </a>
                    <span> | </span>
                                        <a href="/Mu-thoi-trang-41.html">
                        Mũ thời trang                    </a>
                    <span> | </span>
                                        <a href="/Do-so-sinh-42.html">
                        Đồ sơ sinh                    </a>
                    <span> | </span>
                                        <a href="/Phu-kien-thoi-trang-khac-50.html">
                        Phụ kiện thời trang khác                    </a>
                    <span> | </span>
                                        <a href="/Thoi-trang-cho-be-51.html">
                        Thời trang cho bé                    </a>
                    <span> | </span>
                                                                        <a href="/Giuong-ngu-giuong-tang-269.html">
                        Giường ngủ, giường tầng                    </a>
                    <span> | </span>
                                        <a href="/Noi-xach-em-be-270.html">
                        Nôi xách em bé                    </a>
                    <span> | </span>
                                        <a href="/Chan-dem-chieu-goi-271.html">
                        Chăn đệm chiếu gối                    </a>
                    <span> | </span>
                                        <a href="/Bo-quay-cui-276.html">
                        Bộ quây cũi                    </a>
                    <span> | </span>
                                        <a href="/Noi-dien-tu-dong-277.html">
                        Nôi điện tự động                    </a>
                    <span> | </span>
                                        <a href="/Cui-cho-be-278.html">
                        Cũi cho bé                    </a>
                    <span> | </span>
                                        <a href="/Ghe-rung-cho-be-279.html">
                        Ghế rung cho bé                    </a>
                    <span> | </span>
                                        <a href="/Chan-giuong-280.html">
                        Chặn giường                    </a>
                    <span> | </span>
                                                                        <a href="/Chau-tam-va-phu-kien-233.html">
                        Chậu tắm và phụ kiện                    </a>
                    <span> | </span>
                                                                        <a href="/Ve-sinh-toc-tai-tay-chan-rang-mieng-55.html">
                        Vệ sinh tóc, tai, tay, chân, răng, miệng                    </a>
                    <span> | </span>
                                                                        <a href="/Dung-cu-hut-mui-161.html">
                        Dụng cụ hút mũi                    </a>
                    <span> | </span>
                                                                        <a href="/O-ao-mua-kem-chong-nang-cho-be-240.html">
                        Ô, áo mưa, kem chống nắng cho bé                    </a>
                    <span> | </span>
                                                                        <a href="/Do-choi-be-so-sinh-173.html">
                        Đồ chơi bé sơ sinh                    </a>
                    <span> | </span>
                                                                        <a href="/Me-mang-thai-207.html">
                        Mẹ mang thai                    </a>
                    <span> | </span>
                                                                        <a href="/Phong-bep-249.html">
                        Phòng bếp                    </a>
                    <span> | </span>
					
<div class="footer_register">
                        <h3><b>Đăng ký nhận thông tin ưu đãi và khuyến mãi khủng từ MOKI</b></h3>
                        <div class="footer_form-register">
                            <form id="sentEmail" novalidate="" class="ng-pristine ng-valid">
                                <input type="hidden" name="_method" value="POST">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Nhập email của bạn" required="">
                                <button type="submit" class="form-control btn-register" id="register">Đăng ký</button>
                            </form>
                        </div>
</div>
 </div>
</div>
	<!-- FOOTER ENDS HERE -->
</div>
	<!-- MAIN_WRAPPER ENDS HERE -->
</body>
</html>