/*=====BODY======*/
body{
padding:2em;
background-color:#dadada;
}


/*=====CONTAINER======*/
#contanier{
text-align:left;
max-width:986px;
min-width:730px;
margin-left:auto;
margin-right:auto;
/* margin:0px auto; */

}


/*=====================INNER=================*/
#header-inner,nav-inner,content-inner,footer-inner{
overflow:hidden;
}



/*=====HEADER======*/
#header{
background-color:gray;
height:80px;

}
#header-inner{
padding:1em 2em;


}



/*=====NAVIGATION======*/
#nav{
width:300px;
float:left;
background-color:#f1f1f1;
}
#nav_title{
	text-align:center;
	/*background-color:#d3d3d3;*/
	margin:0.5em;
	width:80%;
	font-size:1.5em;
}
#nav-inner{
padding:0 0.8em;
width:80%;
}
#nav-inner ul li{
	padding:0.8em 0.5em;
	list-style:none;
	border-bottom:2px solid #dadada;
}
#nav-inner ul li a{
	text-decoration:none;
	color:#000;
}
.nav-inner_navlink{

}
.fa-angle-double-down,.fa-angle-double-up{
	float:right;
}
/*-------GET LIST PRODUCT --------*/

#AlphaNav li{
	list-style:none;
	padding:0.5em;
	border-bottom:1px solid #dadada;
}
#AlphaNav ul li a:hover{
	color:#d3d3d3;
	
}
.title-text{ 
	text-decoration:none;
	color:black;
	
}
.fix-ul li a{
	
	text-decoration:none;
	color:black;
	
}
#AlphaNav ul li ul{
	display:none;

}




/*=====CONTENT======*/
#content{
margin-left:300px;
background-color:#f1f1f1;
}
#content-inner{
padding:0 1em 1em 1.5em;
}




/*-----------------------------FOOOTER---------------------------------------------*/
#footer_container{
	clear:both;
}

/*=====FOOTER======
#footer{
clear:both;
background:gray;
height:80px;
text-align:center;
}
#footer-inner{
padding:0.8em;
text-align:center;
}

/*=====NAV-INNER======*/
