body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f1f1f1;
}
#container{
   font-size:0.9em;
}
#container_inner_nav{
    float:left;
    width:400px;
}
#container_inner_nav-inner{
    width:100%;
}
#container_inner_content{
    margin-left:400px;
}
#container_inner_footer{
    clear:both;
}